In [ ]:
# list , dict, tuple #python data structures
# list, string slicing
# for loops, while loops
# conditionals (logic) boolean logic
# read csv

In [1]:
5165151516 * 165416541619451877887

854401500717188962157084926692

In [2]:
15615641 /255

61237.807843137256

In [4]:
# var
# =, assignment operator
# VALUE, 10, ASSIGNS IT to a variable num1
num1 = 10
bobthebuilder = 10
bobthebuilder

10

In [10]:
# strings
# "hello", 'hello'
# "hello"
# 'HEEEEEello'
# "Hello'

In [17]:
# list, container grouping of elements, num, words (strings)
# list have an orde, the index
# lists are created with []
# we start counting 0
# , separate the elements in the list
list1 = [10,20,40,50,60]
# how do i sleect froma list?
# list1[idx]
list1[0] #first element

# how to add?
list1.append(70) # always add at the end of list inplace
list1

[10, 20, 40, 50, 60, 70]

In [20]:
# dict, dict aren't ordered, they dont hagve index
# what do dict store? key value pairs?
# pairs of information
# dict are created with {}
# : links a key and value together
# , comma sepates key value pairs
#format: dict1 = {key1:value1, key2:value2}
dict1 = {"tutor":"charles", "student":"dylan"}
# how do i select from dict?
# you have to select by KEY
# format: dict1[key]
dict1["tutor"] #returns "charles"
# when i select the key, it RETURNS the value
dict1["student"] #returns "dylan"

'charles'

In [22]:
dict1["charles"]# KeyError, this key does not exist in the dict

KeyError: 'charles'

In [24]:
# how do add to existing dict?
dict1["student2"] = "bob"
dict1

{'tutor': 'charles', 'student': 'dylan', 'student2': 'bob'}

In [29]:
# comments, ignores the line
# tuple, kinda lists,
# tuples are created with ()
# they also have index?
# tuples are immutable? can't change when its created?
tup1 = (100,200,300) # testing some fixed list of stuff 0-10
tup1[0]
# tup1.append(10) #modifies an existing structure

100

In [30]:
list1

[10, 20, 40, 50, 60, 70]

In [35]:
# list slicing
# : activates slicing
# format: list1[start:stop:step]
# IT NEVER INCLUDES THE STOP NUMBER
list1[0] #<- pick and element
# format: list1[start:stop]
# default
# start = 0
# stop = -1 (END)
# step = 1
# how many are you skipping?
list1[:3]

[10, 20, 40]

In [41]:
list1[-1] # last element

70

In [36]:
list1[:] # default start, default stop

[10, 20, 40, 50, 60, 70]

In [37]:
list1[::2] # skip every other one

[10, 40, 60]

In [38]:
list1[::3]

[10, 50]

In [42]:
list1[2:-1]

[40, 50, 60]

In [43]:
list1[::-1] #reverse the list

[70, 60, 50, 40, 20, 10]

In [46]:
string1 = "i am a tutor"
string1[0:4]

'i am'

In [22]:
list2 =[100, [10,20,30,40], 200, 300]
# 10? in nested list
new_list = list2[1]
new_list[0]

list2[1][0] # one go

10

In [23]:
for row in list2:# row = [10,20,30,40]
    print(row)

100
[10, 20, 30, 40]
200
300

In [59]:
# basics of for loop
# repeats a set of statements for a set of elements?
# iterable -> list or dict
# 10
# var <- variable represents the element at the time of execution
# format: 
# for var in iterable:
#    statements1
#    statements2
# For every element in the list, run the set of statements inside the for loop
# list1  [10, 20, 40, 50, 60, 70]
# when all statements are finished it goes to the enxt elemtn
# it stops when ALL elements in the list are finished with ALL the staements
for num in list1: # num = 40
    print("stateemenmt1")
    print(num)
    print("statement2")
    print("last")
    if num == 50:
        print("i found", num)

stateemenmt1
10
statement2
last
stateemenmt1
20
statement2
last
stateemenmt1
40
statement2
last
stateemenmt1
50
statement2
last
i found 50
stateemenmt1
60
statement2
last
stateemenmt1
70
statement2
last

In [54]:
print(list1)
list2 = [50]
list2 #last element in the cell, just variable will print

[10, 20, 40, 50, 60, 70]

[50]

In [66]:
# conditions if statements
# if statement
# if cond1: when is true? then run the statements underneath
#     statements1
#     statmetens2
# elif cond2:
#     statements1
#     statmetens2
# else: #else has no condition
#    statemetn2
#    statmeten45
# in the same if block once it finds a condition tahts true it
# exits out of the whole block
# else only executes when ALL the other conditiosn above are false
num2 = 1000
if num2 < 50: #false
    print('less then 50')
elif num2 < 200: # true
    print('elif statement')
elif num2 < 500: # true
    print("second elif")
else:
    print("hello else")
# print('out of lbock')

hello else

In [67]:
num3 = 1000
if num3 >= 1000:
    print('i made a lot of money')
else:
    print('i made no money')

i made a lot of money

In [70]:
num2 = 10

if num2 < 50:
    print('less then 50')
if num2 < 200:
    print('elif statement')
elif num2 < 1000:
    print('elif 2 ')
if num2 < 2000:
    print("thirdif")

less then 50
elif statement
thirdif

In [ ]:
# how to read a csv file
# where the file? HOw?
# "r", "w"
# 2 main ways to specify a file path
# asbolute path
# "C:/Users/brown/OneDrive/Desktop/Homework/homework2/budget_data.csv"
# relative path
# . <- thid folder
# .. <- parent folder
# ? jupyter lab, determines path from THIS NOTEBOOK
# import pandas as pd
# pd.read_csv("../budget_data3.csv")

In [ ]:
# python open() <- opens a file
# open(file_path , how r or w)
import csv # csv file reader turns files into lists
# csv.reader(file)
# csv.writer(file)
with open("./budget_data.csv", "r") as file: # alias as file <- var
    # print(file.read()[:58]) # bad because this is a big str
    # (csv.reader(file) # this creats an object that is a giant list
    for row in csv.reader(file): #csv.reader(file) []
        print(row) # row #first element are months
        # second elements are profit and losses
    #doing stuff in here the file with stay open
# out here it auto closes the file

In [33]:
# overwriting variables
num10 = 25
print(num10)
num10 = 100000
print(num10)

25
100000

In [34]:
print(num10)

100000

In [ ]:
# assignment of variables goes from right to left
# var = VLAUE
# looks at the value first, and the assigns it to the var

In [35]:
# basic algorithms
# algo, when you have a problem
# and you write a solution to that problem
# that is an algorithm
# count/len
# sum
# min
# max
list3 = [10,20,30,40,50,60,70, 100]
# how do i determine the len
# len(list3)
# implement the algoirthm of len
# most of the time you will need a for loop
# nature of the for loop, automatically it looks at every eleemnt
# what variables do you have?
# toolbox: list, dict, var, for loops
count = 0
for num in list3: #num 30
    # print(count + 1) 0+ 1
    # this part does not change the value of count
    # take adavntage of the reptitive behavior in the for loop
    # we dont need num ffor count
    # count = 3
    count = count + 1 #  0 + 1 assigns to count
    
print(count)

8

In [36]:
len(list3)

8

In [40]:
total = 0
for num in list3: #num 40
    # print(count + 1) 0+ 1
    # this part does not change the value of count
    # take adavntage of the reptitive behavior in the for loop
    # we dont need num ffor count
    # total = 100
    total = total + num #  60 + 40 
    print(total)
print(total)

10
30
60
100
150
210
280
380
380

In [39]:
sum(list3)

380

In [44]:
list3

[10, 20, 30, 40, 50, 60, 70, 100]

In [47]:
list4 = [100,50, 25, 25000, -1, 99]
min_num = list4[0]
# min_num  = 100
for num in list4: #num 99
    if num < min_num: # 99 < -1
        min_num = num # min_num = -1
        print(min_num)
print(min_num)

50
25
-1
-1